<!-- <h2>{{pageTitle | titlecase}}</h2>
<table class="table">
  <thead class=" table-dark">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>City</th>
      <th>Salary</th>
      <th>Dob</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of users">
      <td>{{u.id}}</td>
      <td>{{u.name | uppercase}}</td>
      <td>{{u.city | lowercase}}</td>
      <td>{{u.salary | currency:'INR':'code':'3.3-3'}}</td>
      <td>{{u.DOB | date:'dd/MM/yyyy'}}</td>
      <td>{{u.DOB | agecal}}</td>
    </tr>
  </tbody>
</table> -->
<!-- <pre>
{{users | json}}
</pre> -->



<h2>{{pageTitle | titlecase}}</h2>
<table class="table">
  <thead class=" table-dark">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Website</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of users">
      <td>{{u.id}}</td>
      <td>{{u.name | uppercase}}</td>
      <td>{{u.username | lowercase}}</td>
      <td>{{u.email }}</td>
      <td>{{u.phone }}</td>
      <td>{{u.website}}</td>
    </tr>
  </tbody>
</table>
<!-- <pre>
{{users | json}}
</pre> -->

