<app-child [uname]="username"></app-child>

<h2>Select country</h2>
<select (change)="change($event.target.value)">
  <option>Select Country</option>
  <option *ngFor="let c of countries" [value]="c.code">{{ c.country }}</option>
</select>
<br/>
<h1>{{selectedCountryCode}}</h1>
<div [ngSwitch] ="selectedCountryCode">
    <div *ngSwitchCase="'Ind'" class="jumbotron">
        Indian calling code is +91
    </div>
    <div *ngSwitchCase="'Uae'" class="jumbotron">
        United Arab Emirates calling code is +380
    </div>
    <div *ngSwitchCase="'UK'" class="jumbotron">
        United Kingdom calling code is +385
    </div>
    <div *ngSwitchDefault class="jumbotron">
        Select Country
    </div>
</div>
<br/>
<div *ngIf="isLoggedIn; else logout">Yes logged in</div>
<ng-template #logout>You are logged out.</ng-template><br/>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <ul>
      <li *ngFor="let user of users">{{ user }}</li>
  </ul>
  <table class="table table-striped">
      <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Salary</th>
      </tr>
      <tr *ngFor="let student of students;let i=index">
        <td>{{student.id}}{{ i+1 }}</td>
        <td>{{student.name}}</td>
        <td>{{student.salary}}</td>
     </tr>
  </table>
<app-binding></app-binding>